<div class="navigation">
    <h1>{{username}}</h1>
    <ul class="menu">
        {{setLinks links activeIndex}}
        <li>
            <form action="/logout" method="POST">
                <button class="btn btn-danger" type="submit">Выход</button>
            </form>
        </li>
    </ul>
</div>