 <div class="navigation">
    <h1>Game Manager</h1>
    <h6 class="user-name">Пользователь: {{username}}</h6>
    <ul>
        {{setLinks links activeIndex}}
        <li>
            <form action="/logout" method="POST">
                <button class="btn btn-danger" type="submit">Выход</button>
            </form>
        </li>
    </ul>
    <ul class="errors" style="color: red;">
        {{#each errors}}
            <li>
                {{this}}
            </li>
        {{/each}}
    </ul>
</div>