 <div class="navigation">
    <h1>Game Manager</h1>
    <h6 class="user-name">Пользователь: {{username}}</h6>
    <ul>
        <li>
            <a class="active" href="#">Игры для скачивания</a>
        </li>
        <li>
            <a href="#">Установленные игры</a>
        </li>
    </ul>
</div>