<div class="navigation">
    <h1>Game Manager</h1>
    <ul>
        <li>
            <a class="active" href="#">Регистрация</a>
        </li>
        <li>
            <a href="#">Аутентификация</a>
        </li>
    </ul>
    <ul class="errors" style="color: red;">
        {{#each errors}}
            <li>
                {{this}}
            </li>
        {{/each}}
    </ul>
</div>