<main>
    <div class="container">
        <div class="content">
            <div id="0" class="registration">
                <h2>GameManager</h2>
                <div class="restriction">
                    <h5 class="a">Регистрация</h5>
                    <form class="registration-form" action="/register" method="POST">
                        <input name="userLogin" placeholder="Введите логин">
                        <input name="userPassword" type="password" placeholder="Введите пароль">
                        <button type="submit">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>