header{
    background-color: #2a2a2a;
    padding: 10px 0 10px 0;
    font-family: OpenSans,sans-serif,arial;
    color:#ccc;
    overflow: auto;
}

.active{
    color: beige;
}
header a, main a{
    text-decoration:none;
    color:#ccc;
    padding-right: 20px;
}

header nav{
    padding-top: 17px;
    padding-right: 150px;
    float: right;
}

header h1{
    float: left;
}

header .links{
    float: right;
}

header a:hover{
    color: beige;
    transition: 0.3s;
}

.container{
    max-width: 1140px;
}

main h5{
    color:#F5F5F5;
    padding: 20px 0 20px 0;;
}

main{
    background-color: rgb(18,18,18);
    font-family: OpenSans,sans-serif,arial;
}

main .description{
    padding-top: 10px;
    text-align: left;
    display: grid;
}

main .description .game-name{
    color: rgb(245, 245, 245);
    font-size: 95%;
}

main ul{
    margin-bottom: 0;
}

main img:hover{
    opacity: 0.65;
    transition: 0.3s;
}

main ul li{
    padding-right: 15px;
}

main .description .developer-name{
    color: rgba(245, 245, 245, 0.6);
    font-size: 95%;
}

footer{
    background-color:#333;
}
