.navigation{
    font-family: OpenSans,sans-serif,arial;
    height: 100%;
    width: 320px;
    position: fixed;
    background-color:  #2a2a2a;
    color:#ccc;
    overflow: auto;
}

.navigation a, main a{
    text-decoration:none;
    color:#ccc;
    padding-right: 20px;
    transition: 0.3s;
}

.navigation a:hover{
    color: beige;
    transition: 0.3s;
}

.active{
    color: beige !important;
}


.navigation h1{
    color:#ccc;
    padding-top: 40px;
    text-align: center;
}

.navigation h6{
    color:#ccc;
    text-align: center;
}

.navigation ul{
    margin-top: 100px;
}

.navigation li{
    margin-top: 30px;
    font-size: 22px;
    text-align: center;
}

.container{
    max-width: 1140px;
}

main h5{
    color:#F5F5F5;
    padding: 20px 0 20px 0;;
}

main{
    background-color: rgb(18,18,18);
    font-family: OpenSans,sans-serif,arial;
    padding-left: 350px;
    background-color: rgb(18,18,18);
    height: 100%;
}

main .description{
    padding-top: 10px;
    text-align: left;
    display: grid;
}

main .description .game-name{
    color: rgb(245, 245, 245);
    font-size: 95%;
}

main ul{

    padding-left: 100px;
}

main ul li{
    padding-right: 20px;
}

main .description .developer-name{
    color: rgba(245, 245, 245, 0.6);
    font-size: 95%;
}
