.updateForm{
    font-family: OpenSans,sans-serif,arial;
    min-width: 800px;
    max-width: 470px;
    background-color: #202020;
    margin: 0 auto;
    text-align: center;
    color:#F4F4F4;
    border-radius: 5px;
    padding-top: 40px;
}

.content{
    padding-top: 10px;
    padding-bottom: 10px;
}

.a{
    transition: 0.3s;
}

form input{
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    height: 50px;
    background-color: rgb(59, 59, 59);
    outline: none;
    color:#F5F5F5; 
    padding-left: 10px;
}

textarea{
    min-height: 50px;
    max-height: 150px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: rgb(59, 59, 59);
    outline: none;
    color:#F5F5F5; 
    padding-left: 10px;
}

img{
    opacity: 1;
    transition: 0.3s;
    width: 210px;
    height: 280px;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-top: 0;
}

.link{
    min-width: 210px;
    min-height: 280px;
    
}

form button{
    margin-top: 40px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 50px;
    background-color: #037BEE;
    outline: none !important;
    color:#F5F5F5; 
}

button:hover {
    background: #1d49aa;
  }
  
input:focus { 
    color: #F5F5F5;
}
::-webkit-input-placeholder{
    color: #F5F5F5;
}

.restriction{
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 60px;
    padding-top: 30px;
}